@import "tailwindcss";

@layer components{
    .title{
        @apply text-2xl sm:text-3xl/13 font-bold text-white  text-center
    }
    .description{
        @apply text-[14px] text-zinc-200 text-center
    }
    .btn{
        @apply font-[500] border-2 px-4 py-1 text-sm cursor-pointer
    }
    .highLight{
        @apply bg-[linear-gradient(to_right,white,#0c8fff)] text-shadow-[2px_10px_20px_black]  text-transparent bg-clip-text
    }
    .input{
        @apply  text-zinc-50 border-1 p-2 rounded-sm bg-black/20 border-zinc-500 hover:border-white outline-none focus:border-2 focus:border-sky-700
    }
    .btnLink{
      @apply bg-zinc-700  w-[25px] h-[25px] flex items-center justify-center text-[12px] rounded-full font-bold hover:bg-black cursor-pointer   text-white/60 duration-[0.5s] hover:text-white
    }
}
progress {
  width: 100%;
  height: 7px;
  -webkit-appearance: none; 
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #cacaca;
  border-radius:0 10px 10px 0;
}

progress::-webkit-progress-value {
  background:linear-gradient(to right,rgb(82, 81, 81),black);
  border-radius:0 10px 10px 0;
}

 progress::-moz-progress-bar {
  background-color: rgb(64, 64, 65);
  border-radius:0 10px 10px 0;
} 
